<br />
<h1 class="underline-words text-center">Chat Room</h1>
<br />


<div class="booyah-box col-10 offset-1">
  <% @messages.each do |message| %>
  
    <div class="row">
      <div class="float-left">
        <% id = message.user_id %>
        <% user = User.find(id) %>
        <% if user.helpee.present? %>
          <% if user.helpee.avatar.present? %>
            <%= image_tag user.helpee.avatar, class: "chat-pic" %>
          <% else %>
            <%= image_tag "fillerProfile.jpg", class: "chat-pic" %>
          <% end %>
        <% end %>
        <% if user.helper.present? %>
          <% if user.helper.avatar.present? %>
            <%= image_tag user.helper.avatar, class: "chat-pic" %>
          <% else %>
            <%= image_tag "fillerProfile.jpg", class: "chat-pic" %>
          <% end %>
        <% end %>
      </div>
      <div class="text-left">
        <% if current_user.id != message.user_id %>
        <strong class="inline-space on-hover" data-toggle="modal" data-target="#myModal">
          <% if user.helpee.present? %>
          <%= user.helpee.name %>
          <% end %>
          <% if user.helper.present? %>
          <%= user.helper.name %>
          <% end %>
        </strong>
        <% else %>
        <strong class="inline-space">
          <% if user.helpee.present? %>
          <%= user.helpee.name %>
          <% end %>
          <% if user.helper.present? %>
          <%= user.helper.name %>
          <% end %>
        </strong>
        <% end %>
        <%= message.created_at.strftime("%B %e, %Y at %I:%M %p") %>
        <br />
        <%= message.body %>
        <div class="clearing"></div>

      </div>
    </div>
  


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <% if user.helpee.present? %>
          <h4 id=""><%= user.helpee.name %></h4>
          <% end %>
          <% if user.helper.present? %>
          <h4 id=""><%= user.helper.name %></h4>
          <% end %>
        

      </div>
      
      <div class="modal-body">
        <div>
              <% if user.helpee.present? %>
                <% if user.helpee.avatar.present? %>
                  <%= image_tag user.helpee.avatar %>
                <% else %>
                  <%= image_tag "fillerProfile.jpg", class: "resize-filler" %>
                <% end %>
              <% end %>
              <% if user.helper.present? %>
                <% if user.helper.avatar.present? %>
                  <%= image_tag user.helper.avatar %>
                <% else %>
                  <%= image_tag "fillerProfile.jpg", class: "resize-filler" %>
                <% end %>
              <% end %>

            </div>
            
            <div class="text-center">
              <%= link_to "Send Direct Message", conversations_path(sender_id: current_user.id, 
              recipient_id: message.user_id), method: 'post' %>
              <br />
              <% if user.helpee.present? %>
                <%= link_to "See #{user.helpee.name}'s Profile", helpee_path(user.helpee.id) %>
              <% end %>
              <% if user.helper.present? %>
                <%= link_to "See #{user.helper.name}'s Profile", helper_path(user.helper.id) %>
              <% end %>
            </div>
          
      </div>
    
    </div>
  </div>
</div>

<% end %>
</div>

<hr class="col-10 offset-1" />

<div class="col-10 offset-1 text-insert">
<%= simple_form_for @message do |f| %>
  <%= f.input :body %>

  <%= f.submit "Chat!", class: "btn btn-primary" %>
<% end %>
</div>
<br />
<br />

<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  var lastMessagePageShown = <%= Message.order(:id).last.to_json.html_safe %>;
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBOl_hMGb_qqY5jnZsALk9Z2_H4hiaCTY8",
    authDomain: "passion-chat.firebaseapp.com",
    databaseURL: "https://passion-chat.firebaseio.com",
    projectId: "passion-chat",
    storageBucket: "passion-chat.appspot.com",
    messagingSenderId: "501201445940"
  };
  firebase.initializeApp(config);

  var database = firebase.database();

  var messageRef = database.ref('message');
  console.log(messageRef);
  messageRef.on('value', function(snapshot) {
    // updateStarCount(postElement, snapshot.val());
    // console.log(snapshot.val());
    var values = snapshot.val();
    var ids = Object.keys(values);
    var lastId = ids[ids.length - 1];
    var lastMessage = values[lastId];
    console.log(lastMessage);
    if(lastMessagePageShown.id < lastMessage.id) {
      location.reload();
    }
  });
</script>

