<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="booyah-box col-10 offset-1">
 <% @messages.each do |message| %>
  <% if message.body %>
    <% user = User.find(message.user_id) %>
    <div class="item">
      <div class="content">
        <div class="header"><strong><%= user.email %></strong>     <%= message.message_time %></div>
          <div class="list">
            <div class="item">
            <i class="right triangle icon"></i>

            <%= message.body %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="col-10 offset-1 text-insert">
  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div>
      <%= f.submit "Add Reply", class: "btn btn-primary btn-margin" %>
      <button id="target" class="btn btn-primary float-right read-button">Mark as Read</button>
    </div>
  <% end %>
</div>




<script type="text/javascript">
  $( "#target" ).click(function() {
    $.ajax({
      url: '/conversations/' + <%= @conversation.id %>,
      type: 'PUT',
      success: function(response) {
    }
  });
});
</script>

<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  var lastMessagePageShown = <%= DirectMessage.order(:id).last.to_json.html_safe %>;
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBOl_hMGb_qqY5jnZsALk9Z2_H4hiaCTY8",
    authDomain: "passion-chat.firebaseapp.com",
    databaseURL: "https://passion-chat.firebaseio.com",
    projectId: "passion-chat",
    storageBucket: "passion-chat.appspot.com",
    messagingSenderId: "501201445940"
  };
  firebase.initializeApp(config);

  var database = firebase.database();

  var messageRef = database.ref('directmessage');
  console.log(messageRef);
  messageRef.on('value', function(snapshot) {
    // updateStarCount(postElement, snapshot.val());
    // console.log(snapshot.val());
    var values = snapshot.val();
    var ids = Object.keys(values);
    var lastId = ids[ids.length - 1];
    var lastMessage = values[lastId];
    console.log(lastMessage);
    if(lastMessagePageShown.id < lastMessage.id) {
      location.reload();
    }
  });
</script>
