<% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="booyah-box col-10 offset-1">
  <% @messages.each do |message| %>
  
    <div class="row">
      <div class="float-left">
        <% id = message.user_id %>
        <% user = User.find(id) %>
        <% if user.helpee.present? %>
          <% if user.helpee.avatar.present? %>
            <%= image_tag user.helpee.avatar, class: "chat-pic" %>
          <% else %>
            <%= image_tag "fillerProfile.jpg", class: "chat-pic" %>
          <% end %>
        
        <% elsif user.helper.present? %>
          <% if user.helper.avatar.present? %>
            <%= image_tag user.helper.avatar, class: "chat-pic" %>
          <% else %>
            <%= image_tag "fillerProfile.jpg", class: "chat-pic" %>
          <% end %>
        <% else %>
          <%= image_tag "fillerProfile.jpg", class: "chat-pic" %>
        <% end %>
      </div>
      <div class="text-left">
        <% if current_user.id != message.user_id %>
          <strong class="inline-space" >
            <% if user.helpee.present? %>
              <%= link_to user.helpee.name, helpee_path(user.helpee.id) %>
            <% end %>
            <% if user.helper.present? %>
              <%= link_to user.helper.name, helper_path(user.helper.id) %>
            <% end %>
          </strong>
          <strong class="inline-space filler-left">
          <% if !(user.helpee.present?) && !(user.helper.present?) %>
            Profile-Deleted
          <% end %>
          </strong>

        <% else %>
          <strong class="inline-space">
          <% if user.helpee.present? %>
            <%= user.helpee.name %>
          <% end %>
          <% if user.helper.present? %>
            <%= user.helper.name %>
          <% end %>
          </strong>
        <% end %>
        <%= message.created_at.strftime("%B %e, %Y at %I:%M %p") %>
        <br />
        <%= message.body %>
        <div class="clearing"></div>
      </div>
    </div>
  <% end %>
</div>


<div class="col-10 offset-1 text-insert">
  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div>
      <%= f.submit "Add Reply", class: "btn btn-primary btn-margin" %>
      <button id="target" class="btn btn-primary float-right read-button">Mark as Read</button>
    </div>
  <% end %>
</div>




<script type="text/javascript">
  $( "#target" ).click(function() {
    $.ajax({
      url: '/conversations/' + <%= @conversation.id %>,
      type: 'PUT',
      success: function(response) {
        location.reload();
      }
    }); 
    // window.location.reload(true);
    
    // window.location.href=window.location.href;
  });
</script>

<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  var lastMessagePageShown = <%= DirectMessage.order(:id).last.to_json.html_safe %>;
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBOl_hMGb_qqY5jnZsALk9Z2_H4hiaCTY8",
    authDomain: "passion-chat.firebaseapp.com",
    databaseURL: "https://passion-chat.firebaseio.com",
    projectId: "passion-chat",
    storageBucket: "passion-chat.appspot.com",
    messagingSenderId: "501201445940"
  };
  firebase.initializeApp(config);

  var database = firebase.database();

  var messageRef = database.ref('directmessage');
  console.log(messageRef);
  messageRef.on('value', function(snapshot) {
    // updateStarCount(postElement, snapshot.val());
    // console.log(snapshot.val());
    var values = snapshot.val();
    var ids = Object.keys(values);
    var lastId = ids[ids.length - 1];
    var lastMessage = values[lastId];
    console.log(lastMessage);
    

    var hasUnreadMessages = false;
    for(var key in values)
    {
        if(values[key].read === false)
        {
            hasUnreadMessages = true;
        }
    }

    if(hasUnreadMessages)
    {
      document.querySelector('.fa-envelope').classList.add('visible');  
    }
    else
    {
      document.querySelector('.fa-envelope').classList.remove('visible');
    }
    
    if(lastMessagePageShown.id < lastMessage.id) {
      location.reload();
    }
  });
</script>
