<div class="booyah-box col-10 offset-1">
  <h1>Tell Us About You</h1>
  <h5>The only thing you need to create an account is your name.  
  All other fields can be left blank.  You can update your profile with more information at any time.</h5>
  <%= simple_form_for @helpee do |f| %>
    <%= f.input :name %>
    <%= f.input :about %>
    <%= f.input :story %>
    <%= f.input :need %>
    <%= f.input :address %>
    <%= f.input :avatar %>
    <%= f.input :notifications, as: :boolean, checked_value: true, unchecked_value: false, label: 'Receive email notifications?' %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>