<h1><%= @helpee.name %></h1>
<h1><%= @helpee.about %></h1>
<h1><%= @helpee.story %></h1>
<h1><%= @helpee.need %></h1>
<h1><%= @helpee.address %></h1>

<% if @helpee.latitude.present? && @helpee.longitude.present? %>
 
  <script>

    function initMap() {
      var myLatLng = {lat: <%= @helpee.latitude %>, lng: <%= @helpee.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwy0zq-PsBe_jtUVPkba-Jkm09YsXXvmg&callback=initMap">
  </script>

  <div id="map"></div>

  <% end %>

  <br />

  <% if current_user && current_user == @helpee.user %>
    <%= link_to 'Edit Profile', edit_helpee_path(@helpee), class: 'btn btn-primary' %>
    <%= link_to 'Delete Profile', helpee_path(@helpee), method: :delete, data: 
    {confirm: 'Are you sure you want to delete your profile?'},class: 'btn btn-danger' %> 
  <% end %>
