<div class="booyah-box col-10 offset-1 taller">
  <% if @helpee.avatar.present? %>
    <%= image_tag @helpee.avatar, class: "left" %>
  <% else %>
    <%= image_tag "fillerProfile.jpg", class: "left resize-filler1" %>
  <% end %>

  <h1><%= @helpee.name %></h1>
  <% if current_user && current_user == @helpee.user %>
    <%= link_to 'Inbox', conversations_path, class: 'btn btn-primary right button-top reposition-button' %>
  <% end %>
  <br />
    
  
  <h3 class="underline-words">About Me</h3>
  <p><%= @helpee.about %></p>

  <h3 class="underline-words">What's my story?</h3>
  <p><%= @helpee.story %></p>
  <h3 class="underline-words">What I need</h3>
  <p><%= @helpee.need %></p>
  

  <% if current_user != @helpee.user %>
    <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @helpee.user_id), 
    method: 'post', class: "btn btn-primary float-left buttons-right" %>
  <% end %>

  <div class="float-right buttons-right">
    <% if current_user && current_user == @helpee.user %>
      <%= link_to 'Edit Profile', edit_helpee_path(@helpee), class: 'btn btn-primary' %>
      <%= link_to 'Delete Profile', helpee_path(@helpee), method: :delete, data: 
      {confirm: 'Are you sure you want to delete your profile?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <br />
</div>

<br />

<% if @helpee.latitude.present? && @helpee.longitude.present? %>
  <script>
    function initMap() {
      var myLatLng = {lat: <%= @helpee.latitude %>, lng: <%= @helpee.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Come find me'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwy0zq-PsBe_jtUVPkba-Jkm09YsXXvmg&callback=initMap">
  </script>

  <br />
  <br />
  <br />
  <div class="text-center">
    <h3>Where you may be able to find me</h3>
    <br />
  </div>
  <div id="map"></div>
<% end %>
