<div class="booyah-box col-10 offset-1">
  <h1>Tell Us About You</h1>

  <br />

  <%= simple_form_for @helper do |f| %>
    <%= f.input :name, label: 'Username' %>
    <%= f.input :about, label: 'Tell us about yourself' %>
    <%= f.input :how, label: 'How and why do you want to help others?' %>
    <%= f.input :avatar, label: 'Add a picture' %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>
