<div class="booyah-box col-10 offset-1 underline-words">
  
    <%= image_tag @helper.avatar, class: "left" %>
    <h1><%= @helper.name %></h1>
    <% if current_user && current_user == @helper.user %>
        <%= link_to 'Inbox', conversations_path, class: 'btn btn-primary float-right' %>
      <% end %>
    <br />
    
  
  <h3>About Me</h3>
  <p><%= @helper.about %></p>

  <h3>How and why I want to help</h3>
    <p><%= @helper.how %></p>

    <div class="float-right">
    <% if current_user && current_user == @helper.user %>
      <%= link_to 'Edit Profile', edit_helper_path(@helper), class: 'btn btn-primary' %>
      <%= link_to 'Delete Profile', helper_path(@helper), method: :delete, data: 
      {confirm: 'Are you sure you want to delete your profile?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>
  <br />
</div>





<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="col-12 col-xl-3">
      <div>
        <% if @helper.avatar.present? %>
          <%= image_tag @helper.avatar %>
        <% else %>
          <%= image_tag "fillerProfile.jpg" %>
        <% end %>
      </div>
    </div>

    <div class="clear"></div>
    <div class="col-xl-9 underline-words">
      <% if current_user && current_user == @helper.user %>
        <%= link_to 'Inbox', conversations_path, class: 'btn btn-primary float-right' %>
      <% end %>
      <h1><%= @helper.name %></h1>
      <br />
      <h3>About Me</h3>
      <p><%= @helper.about %></p>
      
    </div>
  </div>
  <br />
  <div class="underline-words">
    <h3>How I Can Help</h3>
    <p><%= @helper.how %></p>
  </div>

  <div class="float-right">
    <% if current_user && current_user == @helper.user %>
      <%= link_to 'Edit Profile', edit_helper_path(@helper), class: 'btn btn-primary' %>
      <%= link_to 'Delete Profile', helper_path(@helper), method: :delete, data: 
      {confirm: 'Are you sure you want to delete your profile?'}, class: 'btn btn-danger' %>
    <% end %>
  </div>

<br />
</div>



