<h1>show</h1>


<h1><%= @helper.name %></h1>
<h1><%= @helper.about %></h1>
<h1><%= @helper.how %></h1>

<% if current_user && current_user == @helper.user %>
  <%= link_to 'Edit Profile', edit_helper_path(@helper), class: 'btn btn-primary' %>
  <%= link_to 'Delete Profile', helper_path(@helper), method: :delete, data: 
  {confirm: 'Are you sure you want to delete your profile?'},class: 'btn btn-danger' %>
<% end %>

