<div class="col-10 offset-1 text-center index-heading">
  <h1>Current members of our community</h1>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="text-center">
        <h2>Who is helping others</h2>
      </div>
      
      <br />

      <% if @helper.present? %>
        <% @helper.each do |helper| %>
          <div class="booyah-box2">
            <div class="row">
              <div class="col-6">
                <% if helper.avatar.present? %>
                  <%= image_tag helper.avatar, class: "image-index" %>
                <% else %>
                  <%= image_tag "fillerProfile.jpg", class: "image-index" %>
                <% end %>
              </div>
              <div class="col-6 index-name">
                <h1 class="index-text"><%= link_to helper.name, helper_path(helper) %></h1>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-6">
      <div class="text-center">
        <h2>Who needs help?</h2>
      </div>
      <br />

      <% if @helpee.present? %>
        <% @helpee.each do |helpee| %>
          <div class="booyah-box2">
            <div class="row">
              <div class="col-6">
                <% if helpee.avatar.present? %>
                  <%= image_tag helpee.avatar, class: "image-index" %>
                <% else %>
                  <%= image_tag "fillerProfile.jpg", class: "image-index" %>
                <% end %>
              </div>
              <div class="col-6 index-name">
                <h1 class="index-text"><%= link_to helpee.name, helpee_path(helpee) %></h1>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>





  




