<div id="map"></div>

<br />
<br />
  
<div class="booyah-box col-10 offset-1">
  <%= image_tag "bridge_house.jpg", class: 'img-fluid left' %>
  <h1>Bridge House</h1>
  <span id="marker0" class="markerclass on-hover">see map</span>
  <h3 class="underline-words">About</h3>
  <p>Bridge House plays a crucial role addressing homelessness. Not only do they provide outreach case management services for basic needs-from bus fare to prescription medications- they also provide employment services and nightly meals at our Community Table dinner program. Bridge House is a bridge for many seeking a pathway out of homelessness.</p>
  <p>Breakfast served every weekday at 9am.</p>
</div>

<div class="booyah-box col-10 offset-1">
  <%= image_tag "boulderhomelessshelter.jpg", class: 'img-fluid left' %>
  <h1>Boulder Shelter for the Homeless</h1>
  <span id="marker1" class="markerclass on-hover">see map</span>
  <h3 class="underline-words">About</h3>
  <p>Boulder Shelter for the Homeless provides safe shelter, food, and support services for homeless adults year around.  Morning Services, which includes breakfast, showers, access to laundry facilities, storage, mail, phone, and messages, are available from 6am until 8am, seven days a week, year-round to those not staying overnight at the Shelter.</p>
</div>

<div class="booyah-box col-10 offset-1">
  <%= image_tag "youth_shelter.jpg", class: 'img-fluid left' %>
  <h1>The Source - Boulder Youth Shelter</h1>
  <span id="marker2" class="markerclass on-hover">see map</span>
  <h3 class="underline-words">About</h3>
  <p>If you’re 12 to 24 years old and need help, Attention Homes is there for you. They offer shelter, food, clothing, counseling, education programs, health care, transportation assistance, and more. Their team of caring, experienced counselors and volunteers are trained to help you in every way possible.</p>
</div>

<div class="booyah-box col-10 offset-1" id="clickthis">
  <%= image_tag "efaa.jpg", class: 'img-fluid left' %>
  <h1>EFAA</h1>
  <span id="marker3" class="markerclass on-hover">see map</span>
  <h3 class="underline-words">About</h3>
  <p>Since 1918, EFAA has been the community safety net for families who have nowhere else to turn when they can’t meet their basic needs.</p>
  <p>EFAA Provides food and help with critical expenses, like rent, utilities, minor medical costs and transportation.</p>
</div>

<div class="booyah-box col-10 offset-1" id="clickthis">
  <%= image_tag "Boulder_county.jpg", class: 'img-fluid left' %>
  <h1>Boulder County Department of Housing and Human Services</h1>
  <span id="marker4" class="markerclass on-hover">see map</span>
  <h3 class="underline-words">About</h3>
  <p>Food stamps, TANF, Medicaid, countywide rental assistance, public housing and housing support services to low-income families, seniors, veterans and people with disabilities. Child welfare services, family driven intervention and prevention services for families in crisis, foster care and adoption services.</p>
</div>

<div class="booyah-box col-10 offset-1" id="clickthis">
  <%= image_tag "FPC.jpg", class: 'img-fluid left' %>
  <h1>Deacon’s Closet</h1>
  <span id="marker5" class="markerclass on-hover">see map</span>
  <h3 class="underline-words">About</h3>
  <p>Free clothing bank, 9.30-10.30am Thursdays.</p>
</div>

<div class="booyah-box col-10 offset-1" id="clickthis">
  <%= image_tag "HOH.jpg", class: 'img-fluid left' %>
  <h1>Harvest of Hope Food Pantry</h1>
  <span id="marker6" class="markerclass on-hover">see map</span>
  <h3 class="underline-words">About</h3>
  <p>Food pantry.</p>
</div>

<div class="booyah-box col-10 offset-1">
<h1>More Resources</h1>
<%= link_to "Community Resources", "https://bouldershelter.org/get-help/community-resources/" %>
<br />
<%= link_to "Resource Pamphlet", "https://bouldershelter.org/wp-content/uploads/2018/01/BSH-January-2018-Resource-Pamphlet.pdf" %>
</div>


<script>
  var marker = [];

    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: 40.0194747, lng: -105.28127790000002}
      });

      marker = [
        new google.maps.Marker({
          position: {lat: 40.0194747, lng: -105.28127790000002},
          map: map,
          title: 'Bridge House',
           content: '<p><a href="https://boulderbridgehouse.org/">'+
              '<b class="underline-words">Bridge House</b></a> ' + '<br />' + 'Address: 2691 30th St, Boulder, CO 80301' + '<br/>' +
              '(303) 442-8300' +'</p>' + '<p>' + '<b class="underline-words">Hours</b>' + '<br/>' + 'Monday 9AM–3PM' + '<br />' + 'Tuesday 9AM–3PM' + 
              '<br />' + 'Wednesday 9AM–3PM' + '<br />' + 'Thursday 9AM–3PM' + '<br />' + 'Friday 9AM–3PM' + '<br />' +
              'Saturday CLOSED' + '<br />' + 'Sunday CLOSED' + '</p>'
        }),

        new google.maps.Marker({
          position: {lat: 40.062568, lng: -105.282617},
          map: map,
          title: 'Boulder Shelter The Homeless',
          content: '<p><a href="https://bouldershelter.org/">'+
              '<b class="underline-words">Boulder Shelter The Homeless</b></a> ' + '<br />' + '4869 Broadway St, Boulder, CO 80304' + 
              '<br/>' + '303-442-4646' +'</p>' + '<p>' + '<b class="underline-words">Hours</b>' + '<br/>' + 'Monday 5PM-10AM' + 
              '<br />' + 'Tuesday 5PM-10AM' + '<br />' + 'Wednesday 5PM-10AM' + '<br />' + 'Thursday 5PM-10AM' + '<br />' + 'Friday 5PM-10AM' + 
              '<br />' + 'Saturday 5PM-10AM' + '<br />' + 'Sunday 5PM-10AM' + '</p>'
        }),

        new google.maps.Marker({
          position: {lat: 40.030667, lng: -105.281725},
          map: map,
          title: 'The Source - Boulder Youth Shelter',
          content: '<p><a href="https://www.attentionhomes.org/thesource/">'+
              '<b class="underline-words">The Source - Boulder Youth Shelter</b></a> ' + '<br />' + '3080 Broadway, Boulder, CO 80304' + 
              '<br/>' + '(303) 447-1207' +'</p>' + '<p>' + '<b class="underline-words">Hours</b>' + '<br/>' + '24/7' + '</p>'
        }),

        new google.maps.Marker({
          position: {lat: 40.058472, lng: -105.277706},
          map: map,
          title: 'EFAA',
          content: '<p><a href="https://www.efaa.org/">'+
              '<b class="underline-words">EFAA</b></a> ' + '<br />' + '1575 Yarmouth Ave Boulder, CO 80304' + 
              '<br/>' + '303-442-3042' +'</p>' + '<p>' + '<b class="underline-words">Hours</b>' + '<br/>' + 'Monday 9:30AM-4:30PM' + 
              '<br />' + 'Tuesday 9:30AM-4:30PM' + '<br />' + 'Wednesday 12PM-4:30PM' + '<br />' + 'Thursday 9:30AM-6PM' + '<br />' + 'Friday 9:30AM-4:30PM' + 
              '<br />' + 'Saturday CLOSED' + '<br />' + 'Sunday CLOSED' + '</p>'
        }),

        new google.maps.Marker({
          position: {lat: 40.036709, lng: -105.281953},
          map: map,
          title: 'Boulder County Department of Housing and Human Services',
           content: '<p><a href="https://www.bouldercounty.org/departments/housing-and-human-services/">'+
              '<b class="underline-words">Boulder County Department of Housing and Human Services</b></a> ' + '<br />' + 'Address: 3400 Broadway, Boulder, CO 80304' + '<br/>' +
              '(303) 441-1000' +'</p>' + '<p>' + '<b class="underline-words">Hours</b>' + '<br/>' + 'Monday 8AM–4:30PM' + '<br />' + 'Tuesday 8AM–4:30PM' + 
              '<br />' + 'Wednesday 8AM–4:30PM' + '<br />' + 'Thursday 8AM–4:30PM' + '<br />' + 'Friday 8AM–4:30PM' + '<br />' +
              'Saturday CLOSED' + '<br />' + 'Sunday CLOSED' + '</p>'
        }),

        new google.maps.Marker({
          position: {lat: 40.018239, lng: -105.274112},
          map: map,
          title: 'Deacon’s Closet',
           content: '<p><a href="https://www.fpcboulder.org/deacons">'+
              '<b class="underline-words">Deacon’s Closet</b></a> ' + '<br />' + 'Address: 1603 Walnut Street, Boulder, CO 80302' + '<br/>' +
              '(303) 402-6400' +'</p>' + '<p>' + '<b class="underline-words">Hours</b>' + '<br/>' + 'Thursday 9:30AM–10:30AM' + '</p>'
        }),

        new google.maps.Marker({
          position: {lat: 40.028736, lng: -105.254545},
          map: map,
          title: 'Harvest of Hope Food Pantry',
           content: '<p><a href="http://hopepantry.org/">'+
              '<b class="underline-words">Harvest of Hope Food Pantry</b></a> ' + '<br />' + 'Address: 2960 Valmont Road, Boulder, CO 80302' 
              + '<br/>' +'(720) 382-1971' +'</p>' + '<p>' + '<b class="underline-words">Hours</b>' + '<br/>' + 'Monday 9AM–11AM, 12PM-2PM' 
              + '<br />' 
              + 'Tuesday 9AM–11AM, 12PM-2PM' + '<br />' + 'Wednesday 9AM–11AM, 12PM-2PM' + '<br />' + 'Thursday 9AM–11AM, 12PM-2PM' +
               '<br />' + 'Friday 9AM–11AM, 12PM-2PM' + '<br />' +
              'Saturday CLOSED' + '<br />' + 'Sunday CLOSED' + '</p>'
        })

      ];      

      var infowindow = new google.maps.InfoWindow();

      marker.forEach (function(marker){
        google.maps.event.addListener(marker, 'click', (function(marker) {
          return function() {
            infowindow.setContent(marker.content);
            infowindow.open(map, marker);
          }
        })(marker))
      });
    }

    $(document).on("turbolinks:load", function(){
      $(".markerclass").click(function(e) {
        e.preventDefault();
        var markerid = $(this).attr("id").replace("marker", "")
        myClick(markerid);
      });
    });

    function myClick(id){
      $('html, body').animate({ scrollTop: $('#map').offset().top }, 'slow');
      google.maps.event.trigger(marker[id], 'click');
    }

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwy0zq-PsBe_jtUVPkba-Jkm09YsXXvmg&callback=initMap">
</script>


  