<!DOCTYPE html>
<html>
  <head>
    <title>Passion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Helping The Homeless', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <%= link_to 'Our Members', places_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Where to get help', resources_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Chat', messages_path, class: 'nav-link' %>
        </li>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.helpee %>
          <li class="nav-item">
            <%= link_to helpee_path(current_user.helpee), class: 'nav-link' do %>
              <% if current_user.unread_direct_messages > 0 %>
                <i class="fa fa-envelope" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" 
                title="You have unread messages"></i>
              <% end %>
              My Profile
            <% end %>
          </li>
        <% end %>
        <% if current_user.helper %>
          <li class="nav-item">
            <%= link_to helper_path(current_user.helper), class: 'nav-link' do %>
              <% if current_user.unread_direct_messages > 0 %>
                <i class="fa fa-envelope" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" 
                title="You have unread messages"></i>
              <% end %>
              My Profile
            <% end %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<% if current_user %>
<%= current_user.unread_direct_messages %>
<% end %>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert_danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>


